/*HEADER*/
* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:active, a:visited {
	text-decoration: none;
}

p {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

main {
	display: block;
}

button {
	border: none;
	cursor: pointer;
}

.basis {
	min-width: 360px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	background-color: #f1f2f2;
}

.basis--spage {
	background-color: transparent;
}

.roof {
	position: relative;	
}

.roof--spage {
	padding: 16px 12px;
	background-color: #f5f6f6;
}

.roof-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 12px;
	top: 14px;
	right: 12px;	
}

.roof-header--spage {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
}

.header-logo {	
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
}

.header-logo:hover {
	text-shadow: 0px 0px 12px #114263;;
}

.header-logo--spage {
	color: #0aaee4;
}

.logo-mod {
	font-weight: 700;
}

.site-btn {
	padding: 6px 14px;
	border-radius: 2px;
	background-color: #0aaee4;	
	color: #ffffff;
	font-size: 14px;
}

.site-btn:hover {	
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);	
}

.switcher {	
	display: flex;
	align-self: end;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);	
	bottom: 32px;		
}

.switcher-item {	
	border-radius: 3px;
	width: 24px;
	height: 6px;
	background-color: rgb(255, 255, 255);
  	opacity: 0.502;
  	cursor: pointer;
}

.visited {
	background-color: #0aaee4;
	opacity: 1;
}

.switcher-item + .switcher-item {
	margin-left: 22px;
}

.slider {
	height: 260px;
	width: 100%;
}

.slider-item {
	display: none;
}

.visible {
	display: block;
}

.slider-link {
	display: block;
}

.slider-link__description {	
	position: absolute;
	left: 50%;
	transform: translateX(-50%);	
	top: 180px;	
}

.description-head {
	margin: 0;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;	
}

.description-bottom {	
	font-size: 16px;
	color: #ffffff;
	width: 390px;
	display: none;
}

.slider-img {
	width: 100%;
	height: 260px;
	object-fit: cover;
}

/*HEADER*/

/*MAIN*/

.backbone {
	padding: 30px 10px 36px 10px;
	background-color: #f1f2f2;
}

.backbone--spage {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.film-preview {		
}

.film-preview iframe {
	width: 100%;
	height: 270px;
	border: none;
}

.film-type {
	font-size: 18px;
	margin: 0 0 8px 4px;
}

.film-type--spage {
	margin: 0 0 10px 12px;
}

.film-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
}

.film-container--spage {
	padding: 0 12px;
}

.film-card {	
	margin: 0 4px 12px 4px;
	border-radius: 4px;
	width: calc(50% - 8px);
	background-color: #ffffff;
	text-decoration: none;	
}

.film-card__pic {
	position: relative;	
	height: 146px;
	width: 100%;
	border-radius: 4px 4px 0 0;
	object-fit: cover;
}

.film-card__details {	
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 146px;
	border-radius: 4px 4px 0 0;	
	background-color: black;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	text-align: center;
	transition: all 0.3s ease;	
}

.film-card__details::before {
	content:'';
	display: block;
	margin: 30px auto 30px auto;
	width: 40px;
	height: 40px;
	background: url(images/play.png) no-repeat center center;
}

.film-card__details::after {
	content:'View Info';
	display: inline-block;
	padding: 3px 16px;
	font-size: 10px;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 6px;
	background-color: black;	
}

.film-card:hover .film-card__details {
	visibility: visible;
	opacity: 0.8;
}

/*.film-card__details--play {
	margin: 34px auto 32px auto;
	width: 40px;
	height: 40px;
	object-fit: cover;	
}

.film-card__details--text {	
	padding: 4px 12px;
	font-size: 10px;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 6px;
	background-color: black;	
}*/

.film-card__desc {
	padding: 10px 8px;
}

.film-card__desc--spage {
	padding: 32px 12px;
}

.desc-name {
	margin: 0 0 2px 0;
	font-size: 12px;
	color: #242b2d;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.desc-name--spage {
	font-size: 18px;
	/*letter-spacing: 40;*/
	margin: 0 0 16px 0;
}

.desc-charact {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 9px;
	color: #47c3f0;
}

.desc-charact--spage {
	display: block;
}

.desc-text {
	font-size: 14px;
	color: #010101;
	margin-bottom: 24px;
}

.desc-charact__genre {	
	color: #47c3f0;
}

.desc-charact__genre--spage {
	display: block;
	font-size: 14px;
	margin-bottom: 15px;
}

.rating-stars {
	display: flex;
	align-items: center;
}

.rating-stars__item {
	width: 25px;
	height: 24px;
}

.rating-stars__item::before {
	content: '';
	display: block;
	width: 25px;
	height: 24px;
	background-image: url('images/starb.png');
}

.rating-stars__item--point::before {
	content: '';
	display: block;
	width: 25px;
	height: 24px;
	background-image: url('images/starg.png');
}

.rating-stars__item + .rating-stars__item {
	margin-left: 9px;
}
.rating-stars__item + .desc-charact__rating {
	margin-left: 9px;
}


.desc-charact__rating {	
	padding: 1px 4px;	
	border: 1px solid #47c3f0;
	border-radius: 2px;
}

.desc-charact__rating--spage {
	
	font-size: 16px;
	border-radius: 6px;
}

.subscription {
	display: flex;
	flex-direction: column;
	margin: 24px 0;
	padding: 32px 26px 43px 26px;
	background-image: url('images/subscr.png');
	background-position: center;	
}

.subscription--spage {
	margin: 32px 12px;
}

.subscription__text {
	font-size: 34px;
	line-height: 39px;
	color: #ffffff;
	text-align: center;
	margin-bottom: 22px;
}

.subscription__cont {
	display: flex;
	flex-direction: column;	
}

.cont-field {
	padding: 14px 30px;
	margin-bottom: 8px;
	font-size: 24px;
	color: #242b2d;
	background-color: #c7c8c7;
	opacity: 0.749;
	border-radius: 4px;
	border-style: none;
	cursor: pointer; 
}

.cont-btn {
	padding: 14px 86px;
	background-color: #3bb4e0;
	border-radius: 4px;
	border-style: none; 
	font-size: 24px;
	color: #ffffff;
}

.promo {
	display: flex;
	flex-direction: column;
}

.promo-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.promo-block__main {
	width: 100%;
	height: 260px;
	margin-bottom: 8px;
	padding: 30px 22px 0 22px;
	background-color: #cccccc;			
}

.resize {
	cursor: pointer;
	transition:all 0.3s ease;
}

.resize:hover {
	transform: scale(1.03);
}

.main-items {
	display: flex;
	flex-direction: column;	
}


.main-items__ch {
	font-size: 47px;	
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 6px 0;
	text-shadow: 0px 4px 21px rgba(210, 198, 185, 0.76);
}

.main-items__pz {
	font-size: 25px;
	font-weight: 200;	
	color: #ffffff;
	margin: 0 0 14px 0;
}

.main-items__tag {
	display: inline-block;
	padding: 6px 14px;
	border-radius: 6px;
	background-color: #ed0030;	
	font-size: 24px;
	font-weight: 300;	
	color: #ffffff;
	margin: 0 0 70px 0; 
}

.main-items__under {
	font-size: 8px;	
	color: #ffffff;	
}

.promo-block__item {
	display: flex;
	justify-content: flex-end;		
	width: calc(50% - 4px);
	height: 126px;
	padding: 20px;
	background-color: #cccccc;
}

.item-wrapper {
	width: 70px;
}

.item-wrapper__header {	
	font-size: 29px;
	font-weight: 200;	
	font-family: 'Yanone Kaffeesatz', sans-serif;	
	color: #ffffff;
	text-align: center;
	margin: 0 0 10px 0;
}

.mod {
	font-size: 35px;
	font-weight: 700;
}

.modifier {
	text-decoration: underline;
}

.robmod {
	font-family: 'Roboto Condensed', sans-serif;	
}

.item-wrapper__under {
	font-size: 8px;		
	color: #ffffff;
	text-align: center; 
	margin: 0;
}

.promo-block__order {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 126px;
	margin-top: 8px;
	background-color: #cccccc;
}

.order-text {	
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 35px;
	color: #ffffff;
	
}

.order-text sup {
	vertical-align: super;
	font-weight: 300;
	font-size: 21px;
	color: #fdba3e;
}

/*FOOTER*/
.map {
	position: relative;
	height: 320px;
	width: 100%;
}

.map-desc {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 15px 40px;
	border-radius: 24px 24px 0 0;	
	background-color: #ed0030;
}

.map iframe {
	width: 100%;
	height: 320px;
	border: none;
}

.map-desc__text {
	width: 116px;
	color: #dddddd;
	font-size: 12px;
}

.map-desc::before {
	content:'';
	display: block;	
	width: 17px;
	height: 25px;
	background-image: url('images/mapicon.png');
	margin-right: 20px;	
}

.basement {
	display: flex;
	flex-direction: column;
	padding: 0 36px;	
}

.basement__icons {
	padding: 36px 0 26px 0;
	display: flex;
	margin: 0 auto;
}

.basement-items {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	cursor: pointer;	
}

.basement__desc {
	display: flex;
	padding-bottom: 40px;
	flex-wrap: wrap;
	font-size: 16px;
	color: #7f7f7f;		
}

.basement-items+.basement-items {
	margin-left: 22px;
}

.basement-items:hover {
	box-shadow: 0px 0px 8px 0px #00b1e6;
}

.basement-text {
	width: 50%;	
}

.full {
	margin-top: 24px;
	width: 100%;
	font-size: 13px;
	text-align: center;
}





/*MEDIA*/


@media (min-width: 840px) {
	
	.slider {
		height: 550px;
	}

	.slider-img {		
		height: 550px;		
	}

	.slider-link__description {		
		transform: translateX(0);	
		left: 12px;			
		top: 342px;
	}

	.description-head {
		margin-bottom: 7px;		
		text-align: left;
		letter-spacing: 2px;			
	}

	.description-bottom {
		display: block;
		line-height: 24px;
		letter-spacing: 1px;
	}

	.switcher {	
		display: flex;
		align-self: end;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);	
		bottom: 52px;		
	}

	.backbone {
		padding: 48px 16px 54px 16px
	}

	.backbone--spage {		
		padding: 28px 16px 56px 16px;
	}

	.film-container {		
		margin: 0 -8px;
	}

	.film-container--spage {
		padding: 0;
	}

	.film-type {		
		margin: 0 0 10px 0;
	}

	.film-type--spage {
		margin: 0 0 14px 0;
	}

	.film-card {	
		margin: 0 8px 16px 8px;		
		width: calc(25% - 16px);		
	}

	.film-card__desc {
		padding: 10px 8px 12px 8px;
	}

	.film-card__pic {		
		height: 172px;		
	}

	.film-card__details {		
		height: 172px;		
	}

	.film-card__desc--spage {
		padding: 12px 0;
	}

	.desc-name {		
		font-size: 14px;		
	}

	.desc-charact {		
		font-size: 11px;		
	}

	.subscription {		
		flex-direction: row;
		flex-wrap: wrap;
		margin: 40px 0 56px 0;
		padding: 33px 16px 65px;		
	}

	.subscription__text {		
		text-align: left;
		margin-bottom: 24px;
		width: 100%;
	}	

	.subscription__text {
		font-size: 32px;
		color: #ffffff;
		text-align: left;
		margin: 0 40px 30px 40px;
	}

	.subscription__cont {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		margin: 0;
	}

	.cont-field {
		padding: 14px 30px;
		margin: 0;
		width: calc((100% / 3) - 8px);
		font-size: 24px;
		color: #242b2d;
		background-color: #c7c8c7;
		opacity: 0.749;
		border-radius: 4px;
		border-style: none; 
	}

	.cont-field+.cont-field {
		margin-left: 16px;
	}
	.cont-field+.cont-btn {
		margin-left: 16px;
	}

	.cont-btn {		
		padding: 14px 64px;		
		width: calc((100% / 3) - 8px);
		background-color: #3bb4e0;
		border-radius: 4px;
		border-style: none; 
		font-size: 24px;
		color: #ffffff;
	}

	.promo {		
		flex-direction: row;
		margin: 0 -8px;
	}

	.promo-block {		
		margin: 0 8px;		
		width: calc(50% - 8px);
	}

	.promo-block__main {		
		height: 307px;
		margin: 0;
		padding: 30px 22px 0 22px;		
	}

	.promo-block__item {		
		width: calc(50% - 8px);
		height: 145px;		
	}

	.promo-block__order {		
		margin-top: 16px;
		height: 145px;			
	}

	.main__tag {		
		margin: 0 0 70px 0; 
	}

	.map {		
		height: 462px;		
	}

	.map iframe {		
		height: 462px;	
	}

	.fon {
		background-color: #ffffff !important;
	}

	.basement {		
		flex-direction: row;
		padding: 38px 0;		
	}
	

	.basement__icons {
		padding: 0;
		order: 2;
	}

	.basement__desc {
		order: 1;
		padding: 0 0 0 68px;
	}

	.basement-text {
		width: 100%;	
	}

	.full {
		text-align: left;
	}

	.film-preview iframe {		
		height: 574px;		
	}
}

@media (min-width: 1280px) {

	.slider {
		height: 600px;
	}

	.slider-img {		
		height: 600px;		
	}

	.slider-link__description {		
		left: 324px;			
	}

	.backbone {
		padding: 56px 0;
		width: 814px;
		margin: 0 auto;
	}

	.backbone--spage {		
		padding: 28px 0 56px 0;
		width: 1238px;
	}

	.basement__icons {
		margin: 0;
	}

	.basement-items+.basement-items {
		margin-left: 32px;
	}

	.backbone--spage {	
		flex-direction: row;	
		flex-wrap: wrap;		
		justify-content: space-between;		
	}

	.film-preview {
		width: calc(70% - 12px);
		order: -2;
	}

	.film-preview iframe {
		margin-bottom: -3px;
	}

	.subscription--spage {
		width: calc(30% - 12px);
		margin: 0;
		flex-direction: column;
		order: -1;
	}

	.desktop {
		width: calc(70% - 12px);
	}

	.subscription--spage .subscription__cont{
		flex-direction: column;
	}

	.subscription__text--spage {
		margin: 0 0 24px;
	}

	.cont-field--spage {
		width: 100%;
		margin-bottom: 8px;
	}	

	.cont-btn--spage {
		width: 100%;
		margin-bottom: 8px;
	}

	.cont-field--spage+.cont-field--spage {
		margin-left: 0;
	}
	.cont-field--spage+.cont-btn--spage {
		margin-left: 0;
	}

	.roof-header--spage {
		width: 1238px;
		margin: 0 auto;
	}

	.basement--spage {
		width: 1238px;
		margin: 0 auto;
	}	

}
