header{
	background-color: #e8721e;
	text-align: center;
	margin-bottom: 20px; 
	padding: 5px 0 20px 0;
	
}

body{
	width: 960px;
	margin: auto;
	font-family: Arial, sans-serif;
}

aside {
	background-color: #0f7a01;
    padding: 10px;
    width: 320px;
    float: right;    
}

footer {
	background-color: #a1aab7;
	padding: 10px;
}

main {
	width: 570px;		
}

article {
	width: 100%;
	margin-bottom: 20px;
	background-color: #f4f004;
	padding: 10px;
}

.menu {
  float: left;
  padding: 0;
  transform: translateX(50%);
}

.menu li {
  float: left;	
  padding: 0;
	list-style: none;	
}

.menu li + li {
  margin-left: 40px;
}

.clear {
	clear: both;
}

span {
       margin-left: 40px;
       font-size: 20px;

	}

p{	
	font-size: 20px;
}






