/*HEADER*/
* {
	box-sizing: border-box;
}

li {
	list-style: none;
}

main {
	display: block;
}

.basis {
	min-width: 320px;
	background-color: #f0f2f5;	
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;	
}

.roof {
	padding: 0 8px;
	background-color: #ffffff;	
  	box-shadow: 0px 2px 0px 0px rgba(7, 8, 8, 0.06);
 }

.roof__items {	
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;	
}

.logo {
	margin: 8px 0;
	display: flex;
	align-items: center;
}

.logo:hover {
	opacity: 0.9;
}

.logo-pic {	
	object-fit: cover;	
	margin-right: 4px;	
}

.logo__name {	
	text-align: center;
	width: 70px;
	font-style: italic;
}

.logo__name-header {	
	margin: 0;		
	color: #8cc152;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
}

.logo__name-desc {
	font-size: 14px;
	margin: 0;
	color: #aab2bd;
	display: none;
}

.menu-items {
	display: flex;
	align-items: center;	
}

.menu-search {
	display: flex;
	align-items: center;
}

.menu-search__input {
	display: none;
	border: none;
	margin-right: 10px;
	width: 150px;
	text-align: center;
	text-transform: uppercase;
	height: 30px;
	font-size: 14px;
	color: #aab2bd;
	outline: none;	
}

.menu-search__input:hover {
	box-shadow: 0px 2px 0px 0px #aab2bd;
}

.menu-search__input:focus {	
	box-shadow: 0px 2px 0px 0px #a0d468;
}

.menu-items__wrapper {
	display: flex;
	width: 48px;
	height: 48px;
	padding: 0;
	border: none;
	font-size: 0;
	background: none;
	cursor: pointer;	
	align-items: center;
	justify-content: center;	
}

.menu-items__wrapper:hover {
	background-color: #a0d468;
	border-radius: 4px;
}

.menu-searchbtn::before {
	content:'';	
	width: 24px;
	height: 24px;
	background: url('images/css_sprites.png') -10px -78px;
}

.menu-searchbtn:hover::before {
	content:'';	
	width: 24px;
	height: 24px;
	background: url('images/icon.png');	
}

.menu-menubtn {
	margin-left: 8px;
	display: flex;
	width: 48px;
	height: 48px;	
}

.menu-menubtn::before {
	content:'';	
	width: 24px;
	height: 14px;
	background: url('images/menu1.png');
}

.menu-menubtn:hover {
	background-color: #a0d468;
}

.menu-section {	
	display: none;
	align-items: center;
	height: 100%;
	right: -8px;
	left: -8px;	
	margin: 0 -15px;
	padding: 0;	
}

.visible {
	display: block;
}

.menu-section__item {
	position: relative;	
	margin: 0 15px;
	list-style: none;
}

.menu-link {
	display: block;
	padding: 8px;
	line-height: 48px;
	font-weight: bold;	
	font-size: 14px;
	color: #434a54;
	text-transform: uppercase;
}

.menu-section__item:hover::after {
	content: '';
  	position: absolute;
  	width: 100%;
  	padding-top: 10px;
}

.dropdown_menu {
	position: absolute;
	margin-left: -20px;
	top: 70px;
	display: none;	
	border-radius: 4px;
	padding: 0;		
	width: 220px;	
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.dropdown-menu__item {
	position: relative;	
	padding: 10px 20px;
	background-color: #a0d468;
	font-size: 14px;
	color: #ffffff;
}

.dropdown-menu__item:hover::after {
	content: '';
	position: absolute;
	width: 100%;
	padding-top: 110%;
}

.dropdown-menu__item:hover {
	background-color: #8cc152;
}

/*HEADER*/

/*MAIN*/

.backbone {	
	padding: 24px 8px;
	margin: 0 auto;
}

.slider {
	border-radius: 4px;
	background-color: #ff6d55;
	height: 128px;
	margin-bottom: 24px;
}

.proposal {
	margin: 0 -8px 40px -8px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.proposal-card {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;		
	width: calc(50% - 16px);
	margin: 0 8px 16px 8px;
	border-radius: 4px;	
	box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	cursor: pointer;
}

.proposal-card__desc {	
	padding: 10px 16px 0;	
	border-radius: 4px 4px 0 0;
}

.proposal-card__desc h1 {
	margin: 0 0 4px 0;
 	font-size: 24px;
 	color: #434a54;
}

.proposal-card__desc-text {
	margin: 0 0 14px 0;
	font-size: 12px;
	color: #aab2bd;
}

.proposal-list {
	padding: 0;
}

.proposal-card__desc-mod {
	margin: 8px 0;
	font-size: 12px;	
	color: #656d78;
	display: none;
}

.proposal-card__desc-base {
	display: block;
	font-size: 16px;
	margin-bottom: 8px;
}

.proposal-card__desc-starter {	
	color: #fc9d51;	
}

.proposal-card__desc-basic {	
	color: #a0d468;
}

.proposal-card__desc-pro {	
	color: #55c1e7;
}

.proposal-card__desc-ultra {	
	color: #ff5555;
}

.proposal-card__btn {
	margin-top: auto;
	background-color: #aab2bd;
	
	border-radius: 0 0 4px 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 32px;
	color: #ffffff;
}

.proposal-card--starter:hover .proposal-card__btn {
	background-color: #fc9d51;
}
.proposal-card--basic:hover .proposal-card__btn {
	background-color: #a0d468;
}
.proposal-card--pro:hover .proposal-card__btn {
	background-color: #55c1e7;
}
.proposal-card--ultra:hover .proposal-card__btn {
	background-color: #ff5555;
}

/*.proposal-card:hover .proposal-card__btn--starter {
	background-color: #fc9d51;
}
.proposal-card:hover .proposal-card__btn--basic {
	background-color: #a0d468;
}
.proposal-card:hover .proposal-card__btn--pro {
	background-color: #55c1e7;
}
.proposal-card:hover .proposal-card__btn--ultra {
	background-color: #ff5555;
}*/


.proposal-card .proposal-card__btn:hover {
	background-color: #bd55ff;
}
/*.proposal-card__btn.proposal-card__btn--starter:hover {
	background-color: #bd55ff;
}
.proposal-card__btn.proposal-card__btn--basic:hover {
	background-color: #bd55ff;
}
.proposal-card__btn.proposal-card__btn--pro:hover {
	background-color: #bd55ff;
}
.proposal-card__btn.proposal-card__btn--ultra:hover {
	background-color: #bd55ff;
}*/

.news-block {
	display: flex;
	flex-direction: column;		
}

.news-block__container {
	display: flex;
	flex-direction: column;	
	border-radius: 4px;
	background-color: #ffffff;	
	margin-bottom: 48px;
	box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	padding: 0 16px 16px;
}

.news-pic {
	width: 80px;
	height: 80px;
	align-self: center;	
	background-color: #f0f2f5;
	border-radius: 50%;
	margin: -32px;
}

.news-block__info {	
	display: flex;
	justify-content: flex-end;
	margin-top: 8px;
}

.news-icon {	
	font-size: 12px;
	color: #aab2bd;
	margin: 0 0 0 4px;	
}

.time--clock::before {
	content: '';
	display: inline-block;
    vertical-align: middle;
	background: url('images/css_sprites.png') -54px -78px;
	margin-right: 2px;
	width: 16px;
	height: 16px;
}

.blob--comm::before {
	content: '';
	display: inline-block;
    vertical-align: middle;
	background: url('images/css_sprites.png') -90px -78px;
	margin-right: 2px;
	width: 16px;
	height: 14px;

}

.news-block__info--comments {	
	background: url('images/css_sprites.png') -90px -78px;
	margin-left: 4px;
}

.news-block__title {
	text-align: center;
	font-size: 18px;
	color: #434a54;
	margin-top: 20px;	
}

.news-block__content {
	margin-top: 0;	
	font-size: 14px;
	color: #aab2bd;
}

a {
	text-decoration: none;
}

.feedback {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 4px;
	border: 1px solid rgb(254, 158, 144, 0.5);		
	background-color: #ffffff;
	padding: 16px 30px;
	border-radius: 4px;
	
}

.feedback::before {
	content:'';
	position: absolute;
	z-index: -1;
	top: -4px;
	right: -4px;
	bottom: -4px;
	left: -4px;
	background-image: url('images/layer-2.jpg');
	border-radius: 4px;
	box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	border: 1px solid #c1dffa;	
}

.feedback-text {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.feedback-form {
	display: flex;
	flex-direction: column;
}

.feedback-text__header {
	font-size: 18px;
	color: #434a54;
	margin-bottom: 12px;
}

.feedback-text__desc {
	font-size: 14px;
	color: #aab2bd;
}

.mail-text{
	padding: 10px 22px;
	margin-bottom: 4px;
	font-size: 14px;
	color: #aab2bd;
	border: 1px solid rgb(226, 228, 231);
	border-radius: 2px;
	outline: none;
}

.mail-text:hover {
	border: 1px solid #a0d468;
}
.mail-text:focus {
	border: 1px solid #a0d468;
	color: #a0d468;
}

.mail-button {
	outline: none;
	cursor: pointer;
	background-color: #aab2bd;
	padding: 10px 0;
	border-radius: 2px;
	border: none;	
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
}

.mail-button:hover {
	background-color: #bd55ff;
}

::-webkit-input-placeholder {font-size: 14px;color: #aab2bd;}
::-moz-placeholder          {font-size: 14px;color: #aab2bd;}/* Firefox 19+ */
:-moz-placeholder           {font-size: 14px;color: #aab2bd;}/* Firefox 18- */
:-ms-input-placeholder      {font-size: 14px;color: #aab2bd;}





/*MAIN*/


/*FOOTER*/
.basement {
	padding: 26px 12px;
	background-color: #e6e8ec;
}

.basement__text {
	font-size: 12px;
	color: #434a54;
	margin: 0;
}

.basement__text-mod {
	color: #434a54;
	border-bottom: 1px #434a54 solid;
	text-decoration: none;
}

/*FOOTER*/

@media (min-width: 640px) {
	.basis {		
		margin: 0 auto;	
	}

	.roof {
		padding: 0 16px;		
	 }

	.slider {
		height: 290px;		
	}

	.backbone {		
		padding: 32px 16px;	
	}

	.basement {
		padding: 26px 16px;		
	}

	.logo__name-desc {	
		display:block;
	}

	.logo__name {		
		width: 150px;		
	}

	.proposal-card {			
		width: calc(25% - 16px);		
		padding: 20px 12px 12px 12px;			
	}

	.proposal-card__desc {
		padding: 0;			
		border-radius: 4px 4px 0 0;
	}

	.proposal-card__btn {
		border-radius: 4px;
	}

	.proposal-card__desc-mod {
		display: block;
	}

	.news-block__info {
		order: 1;
		justify-content: flex-start;
	}

	.news-block__title {
		margin-top: 48px;
	}

	.time--clock, .blob--comm {
		margin-left: 0px;
		margin-right: 2px;
	}

	.news-block {
		margin: 0 -8px;
		flex-direction: row;
	}

	.feedback {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 36px 2px 0;
	}

	.feedback-text {
		margin: 0;
		width: 49%;
	}

	.feedback-form {
		width: 49%;
	}

	.news-block__container {		
		width: calc(100% / 3 - 16px);
		margin: 0 8px;
	}

	.proposal-card--starter:hover {
		box-shadow: inset -1px 12px 0px -8px #fc9d51, 0px 2px 0px 0px rgba(1, 1, 1, 0.06);		
	}
	.proposal-card--basic:hover {
		box-shadow: inset -1px 12px 0px -8px #a0d468, 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	}
	.proposal-card--pro:hover {
		box-shadow: inset -1px 12px 0px -8px #55c1e7, 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	}
	.proposal-card--ultra:hover {
		box-shadow: inset -1px 12px 0px -8px #ff5555, 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	}

	.menu-section {		
		right: -16px;
		left: -16px;		
	}

	.menu-link {
		padding: 8px 16px;		
	}
	
}

@media (max-width: 1280px) {

	.menu-section {	
		position: absolute;		
		top: 66px;				
		margin: 0;		
	}

	.menu-section__item {
		position: relative;
		margin: 0;
		background-color: #ffffff;		
	}

	.menu-section__item:hover {		
		background-color: #434a54
	}

	.menu-section__item:nth-last-child(1) {
		box-shadow: 0px 2px 0px 0px rgba(7, 8, 8, 0.06);
	}

	

	.menu-link:hover {
		color: #ffffff;
	}

	.dropdown_menu {
		position: relative;
		margin: 0;
		top: 0;
		border-radius: none;
		width: 100%;	
	}

	.visible {
		display: block;
	}
}

@media (min-width: 1280px) {

	.roof {			
		padding: 0;
		background-color: #ffffff;	
	  	box-shadow: 0px 2px 0px 0px rgba(7, 8, 8, 0.06);
	}

	.base-mod {
		margin: 0 auto;
		width: 940px;
	}

	.backbone {				
		padding: 50px 0 0;
		margin: 0 auto;		
	}

	.basement {
		padding: 26px 150px;
	}

	.slider {	
		height: 320px;
		margin-bottom: 48px;
	}

	.menu-link:hover {	
		color: #a0d468;
		box-shadow: inset 0px -2px 0px 0px #a0d468;
	}

	.news-pic {
		width: 100%;
		height: 170px;		
		background-color: #f0f2f5;
		border-radius: 4px 4px 0 0;
		margin: 0;
	}

	.news-block__container {
		padding: 0 0 16px;
	}

	.news-block__info, .news-block__content {
		padding: 0 16px;
	}	

	.proposal-card__desc-mod {
		margin-bottom: 24px;
	}

	.proposal-card__desc {
		margin-bottom: 24px;
	}

	.proposal-card__desc-base {
		margin-bottom: 24px;
	}

	.menu-menubtn {
		display: none;
	}
	.proposal-card__desc-starter, .proposal-card__desc-basic, .proposal-card__desc-pro, .proposal-card__desc-ultra {	
		text-transform: uppercase;		
	}

	.blob {
		margin-left: 20px;
	}

	.news-block__title {
		margin-top: 40px;
		padding: 0 16px;
		text-align: left;
	}

	.menu-search__input {
		display: block;
	}

	.menu-section {
		display: flex;
	}

	.feedback {
		width: 680px;
		margin: 68px auto;
	}

	.menu-section__item:hover .dropdown_menu {
		display: block;
	}

	.menu-link {
		padding: 8px 0;
	}
}





